[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
autopep8 = "*"
opencv-contrib-python = "*"
pillow = "*"
matplotlib = "*"
environs = {extras = ["django"], version = "*"}
whitenoise = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
